*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

header{
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    background-color: #5995fd;
}

.logo{
    font-size: 2em;
    color: white;
    user-select: none;
    cursor: pointer;
}
.navigation a{
   position: relative;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

.navigation a::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0px;
    bottom: -5px;
    background-color: #fff;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform .5s;
    transform-origin: right;
}

.navigation a:hover::after{
    transform-origin: left;
    transform: scaleX(1);
}

.navigation .btnLogin-popup{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: -5s;
}

.navigation .btnLogin-popup:hover{
    background-color: #fff;
    color: #162938;
}

.exam{
    margin-top: 87px;
    border-radius: 5px;
}    

h1{
    margin-top: -27px;
    padding-left: 10%;
    background:linear-gradient(to right , #5dc5d7,#5995fd);
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 36px;
    font-style: italic;
    color:whitesmoke;
    margin-bottom: 30px;
}

.main-content{
    box-shadow: 0px 0px 15px #bbb6b6;
    height: 1800px;
    width: 890px;
    margin-left: 26%;
    margin-top: 47px;
    border-radius: 5px;
    padding-left: 10px;
}

.main-content hr{
    width: 96%;
    margin-left: -20px;
    margin-top: -20px;
    margin-bottom: 30px;
    border: 5px solid rgba(8, 1, 1, 0.797);
    border-radius: 2px;
}

.main-content .top-main .title::before{
    content: '';
    position: absolute;
    height: 5px;
    width: 320px;
    margin-top: 1.4%;
    margin-left: 8.6%;
    background: linear-gradient(to right, #71b7e6,#6d59b6);
}

.main-content hr{
    width: 97%;
    margin-left: 7px;
    margin-top: 30px;
    margin-bottom: 20px;
    border: 5px solid rgba(8, 1, 1, 0.797);
    border-radius: 2px;
}

.main-content .top-main h3{ 
    padding-left: 50px;
    border-radius: 2px;
    margin-top: -10px;
    margin-left: 120px;
    margin-right: 36px;
    font-style: italic;
}


.left-content {
    font-size: 20px;
    box-shadow: 0px 0px 15px #686767;
    justify-content: center;
    height: 280px;
    width: 320px;
    padding: 10px 20px;
    margin-top: -114%;
    margin-left: 3%;
    border-radius: 6px;
    font-style: italic;
}

.left-content h2{
    padding-left: 32px;
}
.left-content img{
    object-fit: cover;
}
.left-content .image{
    height: 200px;
    width: 100%;
}
.image img{
    height: 100%;
    width: 100%;
}

.left-content-2 {
    font-size: 20px;
    box-shadow: 0px 0px 15px #686767;
    justify-content: center;
    height: 280px;
    width: 320px;
    padding: 10px 20px;
    margin-top: 20%;
    margin-left: 3%;
    border-radius: 6px;
    font-style: italic;
}

.left-content-2 h2{
    padding-left: 32px;
}
.left-content-2 img{
    object-fit: cover;
}
.left-content-2 .image{
    height: 200px;
    width: 100%;
}
.image img{
    height: 100%;
    width: 100%;
}